<ion-view title="Axo Directory">
    <ion-nav-buttons side="left">
        <div class="buttons" ng-show="hasRole('ROLE_ADMIN')">
            <button class="button button-icon icon ion-ios7-minus-outline"
                    ng-click="data.showDelete = !data.showDelete"></button>
        </div>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <a href="#/create" class="button button-icon icon ion-ios7-plus-outline"
           ng-show="hasRole('ROLE_ADMIN')"></a>
    </ion-nav-buttons>

    <div class="bar bar-subheader item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios7-search placeholder-icon"></i>
            <input id="searchKey" type="search" placeholder="Search" ng-model="searchKey" autocorrect="off" >
        </label>
        <button class="button button-clear" ng-click="clearSearch()">Clear</button>
        <!--<button class="button button-clear" ng-click="search()">Search</button>-->
    </div>

    <ion-content class="has-header has-subheader">
        <ion-list can-swipe="hasRole('ROLE_ADMIN')" show-delete="data.showDelete">
            <ion-item ng-repeat="employee in employees | filter: filterFunction" type="item-text-wrap" class="item-avatar" href="#/employee/{{employee.id}}">
                <img src="pics/{{employee.pic}}"/>
                <h3>{{employee.firstName}} {{employee.lastName}}</h3>
                <p>{{employee.title}}</p>
                <ion-option-button class="button-assertive"
                                   ng-click="edit(newsEntry)">
                    Edit
                </ion-option-button>
                <ion-delete-button class="ion-minus-circled"
                                   ng-click="deleteEntry(newsEntry)">

                </ion-delete-button>
            </ion-item>
            </ion-item>
        </ion-list>
    </ion-content>

</ion-view>
