<ion-view view-title="Create Employee">
  <ion-content has-header="true" padding="true">
      <div class="list">
          <label class="item item-input item-stacked-label">
              <span class="input-label">First Name</span>
              <input type="text" placeholder="John" ng-model="employeeToCreate.firstName">
          </label>
          <label class="item item-input item-stacked-label">
              <span class="input-label">Last Name</span>
              <input type="text" placeholder="Suhr" ng-model="employeeToCreate.lastName">
          </label>
          <label class="item item-input item-stacked-label">
              <span class="input-label">Email</span>
              <input type="text" placeholder="john@suhr.com"  ng-model="employeeToCreate.email">
          </label>
      </div>
      <div class="padding">
          <button class="button button-block button-positive" ng-click="save()">Save</button>
      </div>

  </ion-content>
</ion-view>
